@{
    ViewData["Title"] = "Time Clock";
}
<script type="text/javascript" asp-append-version="true">
    var paychex = paychex || {};
    
    $(()=>
    {
        //$("[data-uniqueIdentifer]")
        $("#btnStartShift").on('click', () =>{ 
            paychex.ajaxCall("TimeClock/ShiftStart")
                .then((response) => {
                    //refresh the page
                    if (response)
                        window.location = window.location;
                    //error logic
                    //else
                });
        });
        $("#btnEndShift").on('click', () =>{ 
            paychex.ajaxCall("TimeClock/ShiftEnd")
                .then((response) => {
                    console.log(reponse);
                });
        });
        $("#btnStartBreak").on('click', () =>{ 
            paychex.ajaxCall("TimeClock/BreakStart")
                .then((response) => {
                    console.log(reponse);
                });
        });
        $("#btnEndBreak").on('click', () =>{
            paychex.ajaxCall("TimeClock/BreakEnd")
                .then((response) => {
                    console.log(reponse);
                });
        });
        $("#btnStartLunch").on('click', () =>{ 
            paychex.ajaxCall("TimeClock/LunchtStart")
                .then((response) => {
                    console.log(reponse);
                });
        });
        $("#btnEndLunch").on('click', () =>{ 
            paychex.ajaxCall("TimeClock/LunchEnd")
                .then((response) => {
                    console.log(reponse);
                });
        });
    });
</script>



<div class="text-center">
    <h1 class="display-4">Welcome to the Paychex Simple Time Clock</h1>
    <h2 class="display-6">Please click the proper button</h2>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<table class="table">
    <thead>        
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Start Shift</th>
            <th scope="col">Start Break</th>
            <th scope="col">End Break</th>
            <th scope="col">Start Lunch</th>
            <th scope="col">End Lunch</th>
            <th scope="col">End Shift</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                <input id="UserShiftStart"/>
            </td>
            <td>
                <input id="txtUserShiftEnd"/>
            </td>
            <td>
                @*Todo: make these visible invisible based on what is available*@
                <button id="btnStartShift">Begin Shift</button>
                <button id="btnEndShift">End Shift</button>
                <button id="btnStartBreak">Begin Break</button> @*Todo: make these visible invisible based on how many are left*@
                <button id="btnEndBreak">End Break</button>
                <button id="btnStartLunch">Begin Lunch</button>
                <button id="btnEndLunch">End Lunch</button>
            </td>
        </tr>
        @foreach(var v in Model)
        {
            <tr>
                
                @*<td scope="row" data-uniqueIdentifer="@v.UserName">*@
                
                <td scope="row">
                    @v.UserName
                </td>
                <td>
                    @v.UserShiftStart
                </td>
                <td>
                    @v.UserShiftEnd
                </td>
                @*            <td>
                <input name="AvailableBreakName" type="text" value="@v.AvailableBreakName" />
            </td>
            <td>
                <input type=checkbox name="chkActive" checked="@v.Active" value="true" class="form-check-input" />
            </td>*@
            </tr>
        }
    </tbody>
</table>

@*user.UserID,
user.UserRoleID,
user.UserName,
userShifts.AvailableShiftID,
userShifts.UserShiftStart,
userShifts.UserShiftEnd*@