@using Paychex_SimpleTimeClock.DatabaseObjects
@{
    ViewData["Title"] = "Time Clock";
    var _model = (List<object>)Model;
    var s = _model;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Secured Side</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>        
        <tr>
            <th scope="col">Username</th>
            <th scope="col">UserShiftStart</th>
            <th scope="col">UserShiftEnd</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                <input id="UserShiftStart" type="text" value="@DateTime.Now"/>
            </td>
            <td>
                <input id="txtUserShiftEnd" type="text" />
            </td>
            <td><button id="btnSaveUserShiftLog">Log Shift</button></td>
        </tr>
@foreach(var v in Model)
{
        <tr>
            <td scope="row">
                @v.UserName
            </td>
            <td>
                @v.UserShiftEnd
            </td>
            <td>
                @v.UserShiftEnd
            </td>
@*            <td>
                <input name="AvailableBreakName" type="text" value="@v.AvailableBreakName" />
            </td>
            <td>
                <input type=checkbox name="chkActive" checked="@v.Active" value="true" class="form-check-input" />
            </td>*@
        </tr>
 }
    </tbody>
</table>

@*user.UserID,
user.UserRoleID,
user.UserName,
userShifts.AvailableShiftID,
userShifts.UserShiftStart,
userShifts.UserShiftEnd*@